#slides {
    position: fixed;
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
	
	background-position: center;
	background-size: cover;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.left {
	float: left;
}
.right {
	float: right;
}
/* Clock/Weather Overlay Styles */
#overlay {
	opacity: 0;
}
#overlay.showing {
	opacity: 1;
	z-index: 5;
}
.overlay_weather {
	position: fixed;
	right: 48px;
	top: 32px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	font-size: 48px;
	font-weight: bold;
	height: 73px;
}
.overlay_weather .icon {
	font-family: "Climacons-Font";
	padding-right: 10px;
	font-size: 72px;
	display: block;
	float: left;
}
.overlay_weather .temp {
	margin-top: 10px;
	display: block;
	float: left;
}
.overlay_weather .unit {
	font-size: 28px;
}
.clock {
	position: fixed;
	color: white;
	font-size: 120px;
	font-weight: bold;
	right: 48px;
	bottom: 78px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.clock small {
	font-size: 72px;
}
.date {
	position: fixed;
	bottom: 32px;
	right: 48px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	color: white;
	font-size: 60px;
}

/* Weather Slide Styles */
.weather, .weather-alerts {
	font-size: 32px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.weather h1, .weather-alerts h1 {
	color: white;
	font-size: 60px;
	text-align: left;
	margin: 32px 48px;
}
.weather h2, .weather-alerts h2 {
	font-size: 48px;
	text-align: left;
	margin: 32px;
}
.weather .icon {
	font-family: "Climacons-Font";
	float: left;
	margin-left: 20px;
	margin-right: 24px;
}

.weather .current-conditions.icon {
	font-size: 170px;
	margin-top: -24px;
}

.weather .temp {
	text-align: left;
	font-size: 110px;
	font-weight: bold;
	float: left;
}
.weather .temp .unit {
	font-size: .5em;
}

.weather .secondary-info {
	clear: left;
}
.weather .forecast.day1 {
	border-left: 0;
}
.weather .forecast {
	float: left;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	width: 31%;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
	display: block;
}

.weather .forecast .icon {
	float: none;
	margin-left: 8px 0;
	font-size: 72px;
}

.weather hr {
	border: 0;
	height: 1px;
	background: rgba(255, 255, 255, 0.25);
}

.weather-alerts {
	text-align: left;
	background: #da532c;
}
.weather-alerts .expires {
	margin-left: 32px;
	margin-top: -24px;
	margin-bottom: 0px;
	font-size: 18px;
}
.weather-alerts .message {
	margin: 24px 32px;
	font-size: 24px;
}