# Ignore everything but YAML files and necessary git files
*
!.gitignore
!README.md
!*.yaml
!*.py
!/alexa/
!/automation/
!/group/
!/packages/
!/scenes/
!/scripts/
!/appdaemon/
!/appdaemon/apps/

# Ignore the following YAML files as well
known_devices.yaml
secrets.yaml
zone.yaml
ip_bans.yaml
appdaemon/appdaemon.yaml