# Ignore everything but YAML files and necessary git files
*
!.gitignore
!README.md
!*.yaml
!/automation/
!/group/
!/scripts/

# Ignore the following YAML files as well
known_devices.yaml
secrets.yaml
