homeassistant:
  name: Home
  unit_system: imperial
  time_zone: America/Indiana/Indianapolis
  elevation: 196
  latitude: !secret latitude
  longitude: !secret longitude

  customize: !include customize.yaml

# Allows you to issue voice commands from the frontend
conversation:

# Checks for available updates
updater:
  reporting: False

recorder:
  db_url: !secret mysql_server

# Enables support for tracking state changes over time.
history:
  exclude:
    domains:
      - automation
      - updater
      - group
    entities:
      - sensor.aeotec_multisensor_6_ultraviolet_10_27
      - sensor.aeotec_multisensor_6_sourcenodeid_10_2
      - sensor.aeotec_multisensor_6_burglar_10_10
      - sensor.aeotec_multisensor_6_alarm_type_10_0
      - sensor.aeotec_multisensor_6_alarm_level_10_1
      - sensor.last_boot
      - sensor.cpu_use
      - sensor.memory_use
      - sensor.back_door_battery
      - sensor.front_door_battery
      - sensor.hallway_smoke_battery
      
# Enables the frontend
frontend:

# Discover some devices automatically
discovery:

# Track the sun
sun:

# View all events in a logbook
logbook:

# Set up HTTP frontend
http:
  api_password: !secret http_password
  trusted_networks:
    - 192.168.1.0/24
  cors_allowed_origins:
    - 'http://192.168.1.220'
    - !secret cors_address

# Set up primary components    
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
  
zwave:
  usb_path: /dev/zwave
  config_path: /srv/hass/src/open-zwave-control-panel/config

climate:
  platform: nest

wink:
  email: !secret wink_email
  password: !secret wink_password
  client_id: !secret wink_clientid
  client_secret: !secret wink_clientsecret

device_tracker:
  platform: unifi
  username: !secret unifi_username
  password: !secret unifi_password
  track_new_devices: false

apcupsd:
  
sensor:
  - platform: apcupsd
    resources:
      - linev
      - loadpct
      - status
      - timeleft
      - bcharge

  - platform: systemmonitor
    resources:
      - type: memory_use_percent
      - type: processor_use
      - type: last_boot

  - platform: template
    sensors:
      front_door_battery:
        value_template: '{{ states.binary_sensor.front_door_sensor_3_0.attributes.battery_level }}'
        unit_of_measurement: '%'
        entity_id: binary_sensor.front_door_sensor_3_0
      back_door_battery:
        value_template: '{{ states.binary_sensor.back_door_sensor_4_0.attributes.battery_level }}'
        unit_of_measurement: '%'
        entity_id: binary_sensor.back_door_sensor_4_0
      hallway_smoke_battery:
        value_template: '{{ states.sensor.hallway_detector_alarm_type_6_0.attributes.battery_level }}'
        unit_of_measurement: '%'

media_player:
  - platform: firetv
  - platform: cast
  
notify:
  - platform: pushbullet
    name: pb
    api_key: !secret pb_api_key
    channel_name: !secret pb_channel
  
  - platform: nfandroidtv
    name: firetv
    host: 192.168.1.231


automation: !include_dir_merge_list automation
group: !include_dir_merge_named group
script: !include_dir_named scripts