homeassistant:
  name: Home
  unit_system: imperial
  time_zone: America/Indiana/Indianapolis
  elevation: 196
  latitude: !secret latitude
  longitude: !secret longitude
  
  customize: !include customize.yaml
  packages: !include_dir_named packages

# Allows you to issue voice commands from the frontend
conversation:

# Checks for available updates
updater:
  reporting: False

recorder:
  db_url: !secret mysql_server
  exclude:
    domains:
      - group
      - updater
      - zone
      - zwave
    entities:
      - sun.sun
      - sensor.cpu_used
      - sensor.ram_used
      - sensor.garage_multisensor_ultraviolet_10_27
      - sensor.garage_multisensor_sourcenodeid_10_2
      - sensor.garage_multisensor_burglar_10_10
      - sensor.garage_multisensor_alarm_type_10_0
      - sensor.garage_multisensor_alarm_level_10_1
      - sensor.energy_meter_power_3
      - sensor.ups_load
      - sensor.ups_time_left

influxdb:
  username: !secret influxdb_user
  password: !secret influxdb_password
  include:
    entities:
      - climate.hallway
      - sensor.hallway_thermostat_humidity
      - sensor.hallway_thermostat_hvac_state
      - sensor.pws_temp_f
      - sensor.pws_relative_humidity
      - sensor.pws_feelslike_f
      - sensor.garage_multisensor_temperature
      - sensor.garage_multisensor_relative_humidity
      - sensor.energy_meter_power
      - sensor.ups_load

# Enables support for tracking state changes over time.
history:
  exclude:
    domains:
      - automation
    entities:
      - sensor.last_boot
      - sensor.back_door_battery
      - sensor.front_door_battery
      - sensor.hallway_smoke_battery
      
# Enables the frontend
frontend:

# Additional Panels
panel_iframe:
  grafana:
    title: 'Graphs'
    icon: 'mdi:chart-line'
    url: !secret grafana_url
    
# Discover some devices automatically
discovery:

# Track the sun
sun:

# View all events in a logbook
logbook:
  exclude:
    domains:
      - automation
      - zwave
    entities:
      - sensor.pws_wind_dir
      - sensor.hallway_smoke_detector_alarm_type
      - sensor.garage_smoke_detector_alarm_type

# Config Panel
config:

# Set up HTTP frontend
http:
  api_password: !secret http_password
  ssl_certificate: /home/hass/ssl_cert.crt
  ssl_key: /home/hass/ssl_cert.key
  trusted_networks:
    - 192.168.1.0/24
  cors_allowed_origins:
    - 'https://192.168.1.220'
    - '*'
    - !secret cors_address1
    - !secret cors_address2
  ip_ban_enabled: True
  login_attempts_threshold: 5

# Set up primary components    
alexa:

#android_ip_webcam:
#  - host: 192.168.1.211
#    name: Living Room Tablet
#    username: !secret ipw_username
#    password: !secret ipw_password

binary_sensor:
  - platform: template
    sensors:
      garage_inside_door:
        friendly_name: "Interior Garage Door"
        value_template: "{{ is_state('sensor.garage_inside_door_access_control', '22') }}"
      garage_side_door:
        friendly_name: "Garage Side Door"
        value_template: "{{ is_state('sensor.garage_side_door_access_control', '22') }}"
        
camera:
  - platform: mjpeg
    name: Driveway Cam
    mjpeg_url: !secret driveway_cam
    
climate:
  platform: nest

device_tracker:
  - platform: unifi_direct
    host: 192.168.1.101
    username: !secret unifiap_user
    password: !secret unifiap_password
    track_new_devices: false

emulated_hue:
  exposed_domains:
    - light
    - switch

# Custom Component for custom Kindle Fire interface
hatouch:


ios:

logger:
  default: warning
  logs:
     urllib3.connectionpool: fatal
     
media_player:
#  - platform: firetv
  - platform: cast
  - platform: vizio
    host: 192.168.1.199
    access_token: !secret vizio_access_token
    name: Living Room TV
  #- platform: floorplan_speaker
  #  name: Living Room Tablet
  
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
 
wink:
  local_control: true
  
zwave:
  usb_path: /dev/zwave
  polling_interval: 60000
  device_config: !include zwave_device_config.yaml
  network_key: !secret zwave_network_key
      
# Additional Sensors
sensor:
  - platform: wunderground
    api_key: !secret wunderground_api_key
    monitored_conditions:
      - alerts
      - temp_f
      - relative_humidity
      - weather
      - wind_dir
      - wind_mph
      - feelslike_f
      - precip_1d
      - precip_today_in
      - temp_high_1d_f
      - temp_low_1d_f
  - platform: systemmonitor
    resources:
      - type: memory_use_percent
      - type: processor_use
      - type: last_boot

# Notify Platforms
notify:
  - name: ios
    platform: group
    services:
      - service: ios_charless_iphone 
  
  - name: emergency
    platform: group
    services:
      - service: ios_charless_iphone
      - service: pb
      
  - name: pb
    platform: pushbullet
    api_key: !secret pb_api_key
    channel_name: !secret pb_channel
  
  - name: firetv
    platform: nfandroidtv
    host: 192.168.1.231
    
  - name: html5
    platform: html5
    gcm_api_key: !secret gcm_api_key
    gcm_sender_id: !secret gcm_sender_id
  
  # Custom Kindle Fire Interface. Picks up notifications from the HA Event Stream, so this is mostly a dummy command to expose a service for the tablets to listen for  
  - name: hatouch
    platform: command_line
    command: ''
    
# Input Booleans
input_boolean:
  recently_home:
    name: Recently Arrived Home
    initial: off
  guest_mode:
    name: Guest Mode
    initial: off

# Date/Time Inputs
input_datetime:
  christmas_light_auto_off:
    has_date: false
    has_time: true
    
# Input Selects
input_select:
  house_mode:
    options:
      - Just Arrived
      - Home
      - Just Left
      - Away
      - Extended Away
      - Asleep
      
switch:
  - platform: tplink
    host: 192.168.1.232
    name: Christmas Tree

# The rest...
alert: !include_dir_merge_named alerts
automation: !include_dir_merge_list automation
group: !include_dir_merge_named group
intent_script: !include_dir_named alexa
scene: !include_dir_merge_list scenes
script: !include_dir_named scripts
zone: !include zone.yaml