homeassistant:
  name: Home
  unit_system: imperial
  time_zone: America/Indiana/Indianapolis
  elevation: 196
  latitude: !secret latitude
  longitude: !secret longitude

  customize: !include customize.yaml

# Allows you to issue voice commands from the frontend
conversation:

# Checks for available updates
updater:
  reporting: False

recorder:
  db_url: !secret mysql_server

#influxdb:
#  username: !secret influxdb_user
#  password: !secret influxdb_password
#  whitelist:
#    - climate.hallway
#    - sensor.pws_temp_f
#    - sensor.pws_relative_humidity
#    - sensor.pws_weather
#    - sensor.pws_wind_dir
#    - sensor.pws_wind_mph

# Enables support for tracking state changes over time.
history:
  exclude:
    domains:
      - automation
      - updater
      - group
    entities:
      - sensor.aeotec_multisensor_6_ultraviolet_10_27
      - sensor.aeotec_multisensor_6_sourcenodeid_10_2
      - sensor.aeotec_multisensor_6_burglar_10_10
      - sensor.aeotec_multisensor_6_alarm_type_10_0
      - sensor.aeotec_multisensor_6_alarm_level_10_1
      - sensor.last_boot
      - sensor.cpu_use
      - sensor.memory_use
      - sensor.back_door_battery
      - sensor.front_door_battery
      - sensor.hallway_smoke_battery
      
# Enables the frontend
frontend:

# Additional Panels
panel_iframe:
  grafana:
    title: 'Graphs'
    icon: 'mdi:chart-line'
    url: !secret grafana_url
    
# Discover some devices automatically
discovery:

# Track the sun
sun:

# View all events in a logbook
logbook:
  exclude:
    domains:
      - automation
      - updater
      - group
    entities:
      - sensor.aeotec_multisensor_6_ultraviolet_10_27
      - sensor.aeotec_multisensor_6_sourcenodeid_10_2
      - sensor.aeotec_multisensor_6_burglar_10_10
      - sensor.aeotec_multisensor_6_alarm_type_10_0
      - sensor.aeotec_multisensor_6_alarm_level_10_1
      - sensor.last_boot
      - sensor.cpu_use
      - sensor.memory_use
      - sensor.back_door_battery
      - sensor.front_door_battery
      - sensor.hallway_smoke_battery

# Set up HTTP frontend
http:
  api_password: !secret http_password
  ssl_certificate: /home/hass/ssl_cert.crt
  ssl_key: /home/hass/ssl_cert.key
  trusted_networks:
    - 192.168.1.0/24
  cors_allowed_origins:
    - 'http://192.168.1.220'
    - !secret cors_address

# Set up primary components    
alexa:
  intents: !include_dir_named alexa

apcupsd:
  
climate:
  platform: nest

device_tracker:
  platform: unifi
  username: !secret unifi_username
  password: !secret unifi_password
  track_new_devices: false

emulated_hue:
  type: alexa
  exposed_domains:
    - light
    - switch
  
media_player:
  - platform: firetv
  - platform: cast
  
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
  
wink:
  email: !secret wink_email
  password: !secret wink_password
  client_id: !secret wink_clientid
  client_secret: !secret wink_clientsecret
  
zwave:
  usb_path: /dev/zwave
  config_path: /srv/hass/src/open-zwave-control-panel/config
  polling_interval: 60000
  customize:
    light.guest_bathroom_vanity_light_level_7_0:
      refresh_value: true
      delay: 3
      polling_intensity: 1
    light.guest_bathroom_fan_light_level_9_0:
      refresh_value: true
      delay: 3
      polling_intensity: 1

# Additional Sensors
sensor:
  - platform: apcupsd
    resources:
      - linev
      - loadpct
      - status
      - timeleft
      - bcharge
  - platform: wunderground
    api_key: 39dc309927fef719
    monitored_conditions:
      - alerts
      - temp_f
      - relative_humidity
      - weather
      - wind_dir
      - wind_mph
  - platform: systemmonitor
    resources:
      - type: memory_use_percent
      - type: processor_use
      - type: last_boot

  - platform: template
    sensors:
      front_door_battery:
        value_template: '{{ states.binary_sensor.front_door_sensor_3_0.attributes.battery_level }}'
        unit_of_measurement: '%'
        entity_id: binary_sensor.front_door_sensor_3_0
      back_door_battery:
        value_template: '{{ states.binary_sensor.back_door_sensor_4_0.attributes.battery_level }}'
        unit_of_measurement: '%'
        entity_id: binary_sensor.back_door_sensor_4_0
      hallway_smoke_battery:
        value_template: '{{ states.sensor.hallway_detector_alarm_type_6_0.attributes.battery_level }}'
        unit_of_measurement: '%'

# Notify Platforms
notify:
  - platform: pushbullet
    name: pb
    api_key: !secret pb_api_key
    channel_name: !secret pb_channel
  
  - platform: nfandroidtv
    name: firetv
    host: 192.168.1.231
    
  - platform: html5
    name: html5
    gcm_api_key: !secret gcm_api_key
    gcm_sender_id: !secret gcm_sender_id

# Input Booleans
input_boolean:
  recently_home:
    name: Recently Arrived Home
    initial: off

# The rest...
automation: !include_dir_merge_list automation
group: !include_dir_merge_named group
scene: !include_dir_merge_list scenes
script: !include_dir_named scripts