homeassistant:
  name: Home
  unit_system: imperial
  time_zone: America/Indiana/Indianapolis
  elevation: 196
  latitude: !secret latitude
  longitude: !secret longitude
  
  customize: !include customize.yaml
  packages: !include_dir_named packages

# Checks for available updates
updater:
  reporting: False

recorder:
  db_url: !secret mysql_server
  purge_interval: 0
  exclude:
    domains:
      - group
      - updater
      - zone
      - zwave
    entities:
      - sun.sun
      - sensor.processor_use
      - sensor.memory_use_percent
      - sensor.energy_meter_power_3
      - sensor.ups_load
      - sensor.ups_time_left
      - sensor.pws_temp_high_2d_f
      - sensor.pws_temp_low_2d_f
      - sensor.pws_temp_high_3d_f
      - sensor.pws_temp_low_3d_f
      - sensor.pws_weather_1d
      - sensor.pws_weather_2d
      - sensor.pws_weather_3d
      - camera.driveway_cam
      - media_player.living_room
      - sensor.office_light_pico
      - sensor.office_fan_pico
      - sensor.master_bedroom_fan_pico
      - sensor.master_bedroom_light_pico
      - sensor.entryway_pico
      - sensor.front_porch_pico
      - sensor.hallway_pico
      - sensor.living_room_pico
      - sensor.kitchen_cabinet_pico
      - sensor.attic_pressure
      - sensor.hvac_return_pressure
      - sensor.hvac_supply_pressure

influxdb:
  username: !secret influxdb_user
  password: !secret influxdb_password
  include:
    entities:
      - climate.hallway
      - sensor.hallway_thermostat_humidity
      - sensor.hallway_thermostat_hvac_state
      - sensor.pws_temp_f
      - sensor.pws_relative_humidity
      - sensor.pws_feelslike_f
      - sensor.garage_multisensor_temperature
      - sensor.garage_multisensor_relative_humidity
      - sensor.energy_meter_power
      - sensor.living_room_multisensor_temperature
      - sensor.living_room_multisensor_relative_humidity
      - sensor.guest_bathroom_multisensor_temperature
      - sensor.guest_bathroom_multisensor_relative_humidity
      - sensor.nursery_multisensor_temperature
      - sensor.nursery_multisensor_relative_humidity
      - sensor.attic_temperature
      - sensor.attic_humidity
      - sensor.hvac_return_temperature
      - sensor.hvac_return_humidity
      - sensor.hvac_supply_temperature
      - sensor.hvac_supply_humidity
      - sensor.master_bedroom_multisensor_temperature
      - sensor.master_bedroom_multisensor_relative_humidity
      - sensor.guest_bedroom_multisensor_temperature
      - sensor.guest_bedroom_multisensor_relative_humidity

# Enables support for tracking state changes over time.
history:
  include:
    domains:
      - binary_sensor
      - device_tracker
      - lock
      - light
      - switch
      - fan
    entities:
      - sensor.hallway_thermostat_hvac_state
      - sensor.hallway_thermostat_operation_mode
      - sensor.ups_status
  exclude:
    entities:
      - binary_sensor.gang
      - binary_sensor.hallway_thermostat_has_leaf
      - binary_sensor.hallway_thermostat_is_using_emergency_heat
      - binary_sensor.hallway_thermostat_online
      - binary_sensor.hallway_thermostat_is_locked
      - binary_sensor.office_fan
      - binary_sensor.living_room_fan_light_remote
      - binary_sensor.living_room_fan_remote
      
# Enables the frontend
frontend:

# Additional Panels
panel_iframe:
  grafana:
    title: 'Graphs'
    icon: 'mdi:chart-line'
    url: !secret grafana_url
    
# Discover some devices automatically
discovery:
  ignore:
    - sabnzbd

# Track the sun
sun:

# View all events in a logbook
logbook:
  exclude:
    domains:
      - automation
      - zwave
      - sensor
  include:
    entities:
      - sensor.ups_status
      - sensor.hallway_thermostat_hvac_state
      - sensor.hallway_thermostat_operation_mode

# Config Panel
config:

# Set up HTTP frontend
http:
  api_password: !secret http_password
  ssl_certificate: /etc/letsencrypt/live/garwood.family/fullchain.pem
  ssl_key: /etc/letsencrypt/live/garwood.family/privkey.pem
  trusted_networks:
    - 192.168.1.0/24
  cors_allowed_origins:
    - 'https://192.168.1.220'
    - '*'
    - !secret cors_address1
    - !secret cors_address2
  ip_ban_enabled: True
  login_attempts_threshold: 5
  trusted_proxies: 127.0.0.1
  use_x_forwarded_for: true

cloud:

# Set up primary components    
alexa:

#android_ip_webcam:
#  - host: 192.168.1.211
#    name: Living Room Tablet
#    username: !secret ipw_username
#    password: !secret ipw_password

binary_sensor:
  - platform: template
    sensors:
      garage_inside_door:
        friendly_name: "Interior Garage Door"
        value_template: "{{ is_state('sensor.garage_inside_door_access_control', '22') }}"
      garage_side_door:
        friendly_name: "Garage Side Door"
        value_template: "{{ is_state('sensor.garage_side_door_access_control', '22') }}"
      nursery_door:
        friendly_name: "Nursery Door"
        value_template: "{{ is_state('sensor.nursery_door_access_control', '22') }}"
      nursery_window:
        friendly_name: "Nursery Window"
        value_template: "{{ is_state('sensor.nursery_window_access_control', '22') }}"
      office_window:
        friendly_name: "Office Window"
        value_template: "{{ is_state('sensor.office_window_access_control', '22') }}"
      kitchen_window:
        friendly_name: "Kitchen Window"
        value_template: "{{ is_state('sensor.kitchen_window_access_control', '22') }}"
      master_bathroom_window:
        friendly_name: "Master Bathroom Window"
        value_template: "{{ is_state('sensor.master_bathroom_window_access_control', '22') }}"
      master_bedroom_window:
        friendly_name: "Master Bedroom Window"
        value_template: "{{ is_state('sensor.master_bedroom_window_access_control', '22') }}"
      living_room_multisensor_motion:
        friendly_name: "Living Room Motion"
        value_template: "{{ is_state('sensor.living_room_multisensor_burglar', '8') }}"
      guest_bathroom_multisensor_motion:
        friendly_name: "Guest Bathroom Motion"
        value_template: "{{ is_state('sensor.guest_bathroom_multisensor_burglar', '8') }}"
      nursery_multisensor_motion:
        friendly_name: "Nursery Motion"
        value_template: "{{ is_state('sensor.nursery_multisensor_burglar', '8') }}"
      master_bedroom_multisensor_motion:
        friendly_name: "Master Bedroom Motion"
        value_template: "{{ is_state('sensor.master_bedroom_multisensor_burglar', '8') }}"
      guest_bedroom_multisensor_motion:
        friendly_name: "Guest Bedroom Motion"
        value_template: "{{ is_state('sensor.guest_bedroom_multisensor_burglar', '8') }}"

camera:
  - platform: mjpeg
    name: Driveway Cam
    mjpeg_url: !secret driveway_cam
    
#climate:
#  platform: nest

device_tracker:
  - platform: unifi
    host: 192.168.1.201
    verify_ssl: false
    username: !secret unifi_username
    password: !secret unifi_password
    new_device_defaults:
      track_new_devices: false

ios:

logger:
  default: warning
  logs:
     urllib3.connectionpool: fatal
     #asyncio: debug
     #bellows: debug
     #zigpy: debug
     #platform.zha: debug
     #components.zha: debug
     
lutron_caseta_pro:
  bridges:
    - host: 192.168.1.221
    
media_player:
#  - platform: firetv
#  - platform: cast
  - platform: vizio
    host: 192.168.1.199
    access_token: !secret vizio_access_token
    name: Living Room TV
  
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
 
wink:
#  local_control: true
  
zwave:
  usb_path: /dev/zwave
  polling_interval: 60000
  device_config: !include zwave_device_config.yaml
  network_key: !secret zwave_network_key
  
zha:
  usb_path: /dev/zigbee
  database_path: /home/hass/zigbee.db
  device_config:
    00:22:a3:00:00:20:ce:42-1:
      type: light
    00:22:a3:00:00:20:db:24-1:
      type: light

# Additional Sensors
sensor:
  - platform: wunderground
    api_key: !secret wunderground_api_key
    monitored_conditions:
      - alerts
      - temp_f
      - relative_humidity
      - weather
      - wind_dir
      - wind_mph
      - feelslike_f
      - precip_1d
      - precip_today_in
      - temp_high_1d_f
      - temp_low_1d_f
      - temp_high_2d_f
      - temp_low_2d_f
      - temp_high_3d_f
      - temp_low_3d_f
      - weather_1d
      - weather_2d
      - weather_3d
  - platform: systemmonitor
    resources:
      - type: memory_use_percent
      - type: processor_use
      - type: last_boot

# Notify Platforms
notify:
  - name: ios
    platform: group
    services:
      - service: ios_charless_iphone 
  
  - name: emergency
    platform: group
    services:
      - service: ios_charless_iphone
      - service: pb
      
  - name: pb
    platform: pushbullet
    api_key: !secret pb_api_key
    channel_name: !secret pb_channel
  
  - name: firetv
    platform: nfandroidtv
    host: 192.168.1.231
    
  - name: html5
    platform: html5
    gcm_api_key: !secret gcm_api_key
    gcm_sender_id: !secret gcm_sender_id
    
  - name: living_room_echo
    platform: command_line
    command: "/home/hass/alexa_wrapper.sh -d 'Living Room Echo'"
    
# Input Booleans
input_boolean:
  recently_home:
    name: Recently Arrived Home
    initial: off
  guest_mode:
    name: Guest Mode
    initial: off
  goodnight:
    name: Goodnight
    initial: off
  ad_door_chime:
    name: Door Chime
    initial: off
  ad_auto_bathroom_lights:
    name: Auto Bathroom Lights
    initial: off
    
# Date/Time Inputs
input_datetime:
  christmas_light_auto_off:
    has_date: false
    has_time: true
    
# Input Selects
input_select:
  charles_status:
    options:
      - Just Arrived
      - Home
      - Just Left
      - Away
      - Extended Away
    initial: Home
  tina_status:
    options:
      - Just Arrived
      - Home
      - Just Left
      - Away
      - Extended Away
    initial: Home
  house_mode:
    options:
      - Just Arrived
      - Home
      - Just Left
      - Away
      - Extended Away
      - Asleep
      
#switch:
#  - platform: tplink
#    host: 192.168.1.232
#    name: Christmas Tree

# The rest...
alert: !include_dir_merge_named alerts
automation: !include_dir_merge_list automation
group: !include_dir_merge_named group
intent_script: !include_dir_named alexa
scene: !include_dir_merge_list scenes
script: !include_dir_named scripts
zone: !include zone.yaml