homeassistant:
  name: Home
  unit_system: imperial
  time_zone: America/Indiana/Indianapolis
  elevation: 196
  latitude: !secret latitude
  longitude: !secret longitude

  customize: !include customize.yaml
  packages: !include_dir_named packages

# Checks for available updates
updater:
  reporting: False

recorder:
  db_url: !secret mysql_server
  purge_interval: 0
  exclude:
    domains:
      - camera
      - group
      - media_player
      - scene
      - updater
      - zha
      - zone
      - zwave
    entities:
      - sun.sun
      - sensor.processor_use
      - sensor.memory_use_percent
      - sensor.energy_meter_power_3
      - sensor.ups_load
      - sensor.ups_time_left
      - sensor.office_light_pico
      - sensor.office_fan_pico
      - sensor.nursery_light_pico
      - sensor.nursery_fan_pico
      - sensor.master_bedroom_fan_pico
      - sensor.master_bedroom_light_pico
      - sensor.entryway_pico
      - sensor.front_porch_pico
      - sensor.hallway_pico
      - sensor.living_room_pico
      - sensor.kitchen_cabinet_pico
      - sensor.attic_pressure
      - sensor.hvac_return_pressure
      - sensor.hvac_supply_pressure
      - sensor.dark_sky_minutely_summary
      - sensor.dark_sky_hourly_summary
      - sensor.dark_sky_daily_summary
      - sensor.dark_sky_icon_0
      - persistent_notification.config_entry_discovery
    event_types:
      - service_removed
      - service_executed
      - platform_discovered
      - homeassistant_start
      - homeassistant_stop
      - feedreader
      - service_registered
      - call_service
      - component_loaded
      - system_log_event
      - automation_triggered
      - script_started
      - timer_out_of_sync
      - !secret alexa_media_event
      - zwave.network_stop
      - zwave.network_start
      - zwave.network_ready

influxdb:
  username: !secret influxdb_user
  password: !secret influxdb_password
  include:
    entities:
      - climate.hallway
      - sensor.hallway_thermostat_humidity
      - sensor.hallway_thermostat_hvac_state
      - sensor.garage_multisensor_temperature
      - sensor.garage_multisensor_relative_humidity
      - sensor.energy_meter_power
      - sensor.living_room_multisensor_temperature
      - sensor.living_room_multisensor_relative_humidity
      - sensor.guest_bathroom_multisensor_temperature
      - sensor.guest_bathroom_multisensor_relative_humidity
      - sensor.nursery_multisensor_temperature
      - sensor.nursery_multisensor_relative_humidity
      - sensor.attic_temperature
      - sensor.attic_humidity
      - sensor.hvac_return_temperature
      - sensor.hvac_return_humidity
      - sensor.hvac_supply_temperature
      - sensor.hvac_supply_humidity
      - sensor.master_bedroom_multisensor_temperature
      - sensor.master_bedroom_multisensor_relative_humidity
      - sensor.master_bathroom_multisensor_temperature
      - sensor.master_bathroom_multisensor_relative_humidity
      - sensor.guest_bedroom_multisensor_temperature
      - sensor.guest_bedroom_multisensor_relative_humidity
      - sensor.attic_temperature
      - sensor.attic_humidity
      - sensor.hvac_supply_temperature
      - sensor.hvac_return_temperature
      - sensor.hvac_supply_humidity
      - sensor.hvac_return_humidity
      - sensor.nursery_hvac_supply_temperature
      - sensor.nursery_hvac_supply_humidity
      - sensor.zoeys_room_hvac_supply_temperature
      - sensor.zoeys_room_hvac_supply_humidity
      - sensor.dark_sky_temperature
      - sensor.dark_sky_humidity
      - sensor.living_room_condensation
      - sensor.nursery_condensation
      - sensor.master_bedroom_condensation
      - sensor.zoey_s_bedroom_condensation

# Enables support for tracking state changes over time.
history:
  include:
    domains:
      - binary_sensor
      - device_tracker
      - lock
      - light
      - switch
      - fan
    entities:
      - sensor.hallway_thermostat_hvac_state
      - sensor.hallway_thermostat_operation_mode
      - sensor.ups_status
  exclude:
    entities:
      - binary_sensor.gang
      - binary_sensor.hallway_thermostat_has_leaf
      - binary_sensor.hallway_thermostat_is_using_emergency_heat
      - binary_sensor.hallway_thermostat_online
      - binary_sensor.hallway_thermostat_is_locked
      - binary_sensor.office_fan
      - binary_sensor.living_room_fan_light_remote
      - binary_sensor.living_room_fan_remote

# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes
  # development_repo: /srv/dev/home-assistant-polymer

# Additional Panels
panel_iframe:
  grafana:
    title: "Graphs"
    icon: "mdi:chart-line"
    url: !secret grafana_url

# Discover some devices automatically
discovery:
  ignore:
    - sabnzbd

# Track the sun
sun:

# View all events in a logbook
logbook:
  exclude:
    domains:
      - automation
      - zwave
      - sensor
  include:
    entities:
      - sensor.ups_status
      - sensor.hallway_thermostat_hvac_state
      - sensor.hallway_thermostat_operation_mode

# Config Panel
config:

# System Health
system_health:

# Set up HTTP frontend
http:
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  cors_allowed_origins:
    - "https://192.168.1.220"
    - "*"
    - !secret cors_address1
    - !secret cors_address2
  ip_ban_enabled: True
  login_attempts_threshold: 5
  trusted_proxies: 127.0.0.1
  use_x_forwarded_for: true

cloud:

# Set up primary components
alexa:

alexa_media:
  accounts:
    - email: !secret alexa_username
      password: !secret alexa_password
      url: "amazon.com"

binary_sensor:
  - platform: blueiris
  - platform: template
    sensors:
      garage_inside_door:
        friendly_name: "Interior Garage Door"
        value_template: "{{ is_state('sensor.garage_inside_door_access_control', '22') }}"
      garage_side_door:
        friendly_name: "Garage Side Door"
        value_template: "{{ is_state('sensor.garage_side_door_access_control', '22') }}"
      nursery_door:
        friendly_name: "Nursery Door"
        value_template: "{{ is_state('sensor.nursery_door_access_control', '22') }}"
      nursery_window:
        friendly_name: "Nursery Window"
        value_template: "{{ is_state('sensor.nursery_window_access_control', '22') }}"
      office_window:
        friendly_name: "Office Window"
        value_template: "{{ is_state('sensor.office_window_access_control', '22') }}"
      kitchen_window:
        friendly_name: "Kitchen Window"
        value_template: "{{ is_state('sensor.kitchen_window_access_control', '22') }}"
      master_bathroom_window:
        friendly_name: "Master Bathroom Window"
        value_template: "{{ is_state('sensor.master_bathroom_window_access_control', '22') }}"
      master_bedroom_window:
        friendly_name: "Master Bedroom Window"
        value_template: "{{ is_state('sensor.master_bedroom_window_access_control', '22') }}"
      living_room_multisensor_motion:
        friendly_name: "Living Room Motion"
        value_template: "{{ is_state('sensor.living_room_multisensor_burglar', '8') }}"
      guest_bathroom_multisensor_motion:
        friendly_name: "Guest Bathroom Motion"
        value_template: "{{ is_state('sensor.guest_bathroom_multisensor_burglar', '8') }}"
      nursery_multisensor_motion:
        friendly_name: "Nursery Motion"
        value_template: "{{ is_state('sensor.nursery_multisensor_burglar', '8') }}"
      master_bedroom_multisensor_motion:
        friendly_name: "Master Bedroom Motion"
        value_template: "{{ is_state('sensor.master_bedroom_multisensor_burglar', '8') }}"
      master_bathroom_multisensor_motion:
        friendly_name: "Master Bathroom Motion"
        value_template: "{{ is_state('sensor.master_bathroom_multisensor_burglar', '8') }}"
      guest_bedroom_multisensor_motion:
        friendly_name: "Guest Bedroom Motion"
        value_template: "{{ is_state('sensor.guest_bedroom_multisensor_burglar', '8') }}"

blueiris:
  host: !secret blueiris_host
  port: !secret blueiris_port
  username: !secret blueiris_username
  password: !secret blueiris_password
  camera:
    - id: BackYard
      name: Back Yard
      room: ""
    - id: FrontYard
      name: Front Yard
      room: ""
    - id: FrontPorch
      name: Front Porch
      room: ""
    - id: Driveway
      name: Driveway
      room: ""
    - id: SideYard
      name: Side Yard
      room: ""
    - id: RLDome
      name: RLDome
      room: ""

browser_mod:
  prefix: "browser_"
  devices:
    a2f1d74c_32e12ef7:
      name: DesktopChrome
    6363f925-f08d6a9e:
      name: living_room_tablet
  disable:
    - all

camera:
  - platform: blueiris
  - platform: mjpeg
    name: Driveway Cam
    mjpeg_url: !secret driveway_cam

google:
  client_id: !secret google_calendar_client_id
  client_secret: !secret google_calendar_client_secret

hacs:
  token: !secret github_access_token
  appdaemon: true

homekit:
  filter:
    include_domains:
      - climate
      - light
      - fan
      - switch
    include_entities:
      - sensor.living_room_multisensor_temperature
      - sensor.guest_bathroom_multisensor_temperature
      - sensor.guest_bedroom_multisensor_temperature
      - sensor.master_bathroom_multisensor_temperature
      - sensor.master_bedroom_multisensor_temperature
      - sensor.nursery_multisensor_temperature
      - sensor.living_room_multisensor_relative_humidity
      - sensor.guest_bathroom_multisensor_relative_humidity
      - sensor.guest_bedroom_multisensor_relative_humidity
      - sensor.master_bathroom_multisensor_relative_humidity
      - sensor.master_bedroom_multisensor_relative_humidity
      - sensor.nursery_multisensor_relative_humidity

logger:
  default: warning

lovelace:
  mode: yaml
  resources:
  - type: module
    url: /hacsfiles/button-card/button-card.js
  - type: module
    url: /hacsfiles/lovelace-card-mod/card-mod.js
  - type: js
    url: /hacsfiles/rgb-light-card/card.js
  - type: module
    url: /hacsfiles/lovelace-slider-entity-row/slider-entity-row.js
  - type: module
    url: /hacsfiles/simple-thermostat/simple-thermostat.js
  - type: module
    url: /hacsfiles/custom-header/custom-header.js
  - type: module
    url: /hacsfiles/simple-weather-card/simple-weather-card-bundle.js
  - type: module
    url: /hacsfiles/restriction-card/restriction-card.js
  - type: module
    url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
  - type: module
    url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
  - type: js
    url: /hacsfiles/fan-control-entity-row/fan-control-entity-row.js
  - type: module
    url: /hacsfiles/lovelace-layout-card/layout-card.js
  - type: module
    url: /hacsfiles/lovelace-fold-entity-row/fold-entity-row.js
  - type: js
    url: /hacsfiles/calendar-card/calendar-card.js
  - type: module
    url: /hacsfiles/lovelace-canary/canary.js
  - type: module
    url: /hacsfiles/vertical-stack-in-card/vertical-stack-in-card.js
  - type: module
    url: /hacsfiles/light-entity-card/light-entity-card.js
  - type: module
    url: /hacsfiles/lovelace-gap-card/gap-card.js
lovelace_gen:

lutron_caseta_pro:
  bridges:
    - host: 192.168.1.221

mobile_app:

person:

#vizio:
#  host: 192.168.1.199
#  access_token: !secret vizio_access_token
#  name: Living Room TV

zwave:
  # usb_path: /dev/zwave
  device_config: !include zwave_device_config.yaml
  network_key: !secret zwave_network_key
  config_path: /config/ozw_config

zha:
  usb_path: /dev/zigbee
  database_path: /config/zigbee.db
  enable_quirks: true
  device_config:
    # Master Bedroom Light
    00:22:a3:00:00:20:ce:42-1:
      type: light
    # Guest Bedroom Light
    00:22:a3:00:00:20:db:24-1:
      type: light
    # Nursery Light
    00:22:a3:00:00:20:d0:23-1:
      type: light
    # Living Room Light
    00:22:a3:00:00:16:bc:fa-1:
      type: light

# Additional Sensors
sensor:
  - platform: mold_indicator
    name: Living Room Condensation
    indoor_temp_sensor: sensor.living_room_multisensor_temperature
    indoor_humidity_sensor: sensor.living_room_multisensor_relative_humidity
    outdoor_temp_sensor: sensor.dark_sky_temperature
    calibration_factor: 1.5
  - platform: mold_indicator
    name: Nursery Condensation
    indoor_temp_sensor: sensor.nursery_multisensor_temperature
    indoor_humidity_sensor: sensor.nursery_multisensor_relative_humidity
    outdoor_temp_sensor: sensor.dark_sky_temperature
    calibration_factor: 1.2
  - platform: mold_indicator
    name: Master Bedroom Condensation
    indoor_temp_sensor: sensor.master_bedroom_multisensor_temperature
    indoor_humidity_sensor: sensor.master_bedroom_multisensor_relative_humidity
    outdoor_temp_sensor: sensor.dark_sky_temperature
    calibration_factor: 1.2
  - platform: mold_indicator
    name: Zoey's Bedroom Condensation
    indoor_temp_sensor: sensor.guest_bedroom_multisensor_temperature
    indoor_humidity_sensor: sensor.guest_bedroom_multisensor_relative_humidity
    outdoor_temp_sensor: sensor.dark_sky_temperature
    calibration_factor: 1.4

  - platform: darksky
    api_key: !secret darksky_api_key
    forecast:
      - 0
    monitored_conditions:
      - summary
      - icon
      - precip_type
      - precip_probability
      - precip_accumulation
      - temperature
      - apparent_temperature
      - wind_speed
      - wind_gust
      - wind_bearing
      - humidity
      - temperature_high
      - temperature_low
      - nearest_storm_distance
      - nearest_storm_bearing
      - minutely_summary
      - hourly_summary
      - daily_summary

  - platform: systemmonitor
    resources:
      - type: memory_use_percent
      - type: processor_use
      - type: disk_use_percent
        arg: /home
      - type: last_boot

  - platform: weatheralerts
    state: IN
    zone: !secret nws_alert_zone

# Notify Platforms
notify:
  - name: ios
    platform: group
    services:
      - service: mobile_app_charles_s_iphone

  - name: charles
    platform: group
    services:
      - service: mobile_app_charles_s_iphone

  - name: emergency
    platform: group
    services:
      - service: mobile_app_charles_s_iphone
      - service: pb

  - name: pb
    platform: pushbullet
    api_key: !secret pb_api_key
    channel_name: !secret pb_channel

  - name: firetv_livingroom
    platform: nfandroidtv
    host: 192.168.1.231

# Input Booleans
input_boolean:
  recently_home:
    name: Recently Arrived Home
    initial: off
  guest_mode:
    name: Guest Mode
    initial: off
  goodnight:
    name: Goodnight
  goodnight_master:
    name: Master Goodnight
  tb_living_room_quiet:
    name: Living Room TileBoard Quiet Mode
  tb_master_bedroom_quiet:
    name: Master Bedroom TileBoard Quiet Mode
  tb_nursery_quiet:
    name: Nursery TileBoard Quiet Mode
  tb_guest_bedroom_quiet:
    name: Guest Bedroom TileBoard Quiet Mode
  ad_door_chime:
    name: Door Chime
  ad_auto_bathroom_lights:
    name: Auto Bathroom Lights
    initial: off
  auto_fan_master_bedroom:
    name: Master Bedroom Auto Fan
    initial: off
  auto_fan_nursery:
    name: Nursery Auto Fan
    initial: off
  auto_fan_zoey:
    name: Zoey's Bedroom Auto Fan
    initial: off
  nursery_night_door_chime:
    name: Nursery Overnight Door Chime
  living_room_night_lights:
    name: Living Room Night Lights
  lockout_zoey:
    name: Lockout Zoey's Bedroom Controls

# Date/Time Inputs
input_datetime:
  christmas_light_auto_off:
    has_date: false
    has_time: true

# Numeric Inputs
input_number:
  auto_fan_master_bedroom_target:
    min: 60
    max: 80
    mode: box
    unit_of_measurement: "°F"
  auto_fan_nursery_target:
    min: 60
    max: 80
    mode: box
    unit_of_measurement: "°F"
  auto_fan_zoey_target:
    min: 60
    max: 80
    mode: box
    unit_of_measurement: "°F"

# Input Selects
input_select:
  charles_status:
    options:
      - Just Arrived
      - Home
      - Just Left
      - Away
      - Extended Away
    initial: Home
  tina_status:
    options:
      - Just Arrived
      - Home
      - Just Left
      - Away
      - Extended Away
    initial: Home
  house_mode:
    options:
      - Just Arrived
      - Home
      - Just Left
      - Away
      - Extended Away
      - Asleep

switch:
  - platform: wake_on_lan
    mac: "d4-be-d9-4c-37-65"
    name: Development Laptop

wake_on_lan:

weather:
  - platform: darksky
    api_key: !secret darksky_api_key
    mode: daily

# The rest...
alert: !include_dir_merge_named alerts
automation: !include_dir_merge_list automation
group: !include_dir_merge_named group
intent_script: !include_dir_named alexa
scene: !include_dir_merge_list scenes
script: !include_dir_named scripts
zone: !include zone.yaml
