.widget-basewunderground-{{id}} {
	color: white;
}

.widget-basewunderground-{{id}} .background {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.widget-basewunderground-{{id}} .background-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.25);
}


.widget-basewunderground-{{id}} h1 {
	font-size: 125%;
	font-weight: bold;
	text-align: left;
	padding: 8px;
	margin-bottom: 0px;
}

.widget-basewunderground-{{id}} [class^="primary"] {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget-basewunderground-{{id}} [class^="secondary"] {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget-basewunderground-{{id}} .primary-climacon {
	font-family: "Climacons-Font";
	font-size: 70px;
}

.widget-basewunderground-{{id}} .primary-info {
	font-size: 300%;
	font-weight: 400;
	margin-right: 0;
}

.widget-basewunderground-{{id}} .primary-unit {
	font-size: 100%;
	font-weight: 400;
	margin-left: 0;
	margin-top: 20px;
	vertical-align: top;
}

.widget-basewunderground-{{id}} .secondary-icon {
	font-family: "Climacons-Font";
	font-size: 40px;
	margin-left: 10px;
	margin-right: 0px;
}

.widget-basewunderground-{{id}} .secondary-climacon {
	font-family: "Climacons-Font";
	font-size: 55px;
	margin-left: 10px;
	margin-right: 10px;
}

.widget-basewunderground-{{id}} .secondary-info {
	position: absolute;
	right: 0%;
	top: 8px;
	width: 30%;
	text-align: left;
}
.widget-basewunderground-{{id}} .secondary-info li {
	padding-bottom: 8px;
}
.widget-basewunderground-{{id}} .secondary-info li .fa {
	width: 16px;
}

.widget-basewunderground-{{id}} hr {
	width: 90%;
	border: 0;
	height: 1px;
	background: rgba(255, 255, 255, 0.25);
	margin-top: 15px;
	margin-bottom: 15px;
}

.widget-basewunderground-{{id}} img.icon {
	float: left;
	margin-left: 8px;
}

.widget-basewunderground-{{id}} .current-conditions.icon {
	font-size: 64px;
	margin-top: -10px;
}
.widget-basewunderground-{{id}} .forecast .icon {
	font-size: 32px;
	margin: 8px;
	float: none;
}

.widget-basewunderground-{{id}} .icon {
	font-family: "Climacons-Font";
	float: left;
	margin-left: 20px;
}

.widget-basewunderground-{{id}} .temp {
	text-align: left;
	padding-left: 8px;
}
.widget-basewunderground-{{id}} .forecast.day1 {
	border-left: 0;
}
.widget-basewunderground-{{id}} .forecast {
	float: left;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	width: 29%;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}
.widget-basewunderground-{{id}} .forecast {
	display: block;
}